<h2><%=@post.title%> by <%= @post.author.username%></h2>

<div>Content: 
<pre><%= @post.content %></pre>
</div>

<h2>Subs</h2>
<ul>
<% @post.subs.each do |sub| %>
  <li><a href="<%=sub_url(sub)%>"><%= sub.title %></a></li>
<% end %>
</ul>
<a href="<%=edit_post_url(@post)%>">Edit Post</a>
<a href="<%=new_post_comment_url(@post)%>">Add Comment</a>

<ul>
<% @post.comments.each do |comment| %>
  <li>
    <%= comment.content %>
  </li>
<% end %> 

</ul>

